<nav class="navbar navbar-expand-lg navbar-light bg-light " style="position: fixed; width: 100%; z-index: 999;">
  <div class="container-fluid bg-light">
     <a class="navbar-brand" href="#">
      <img src="\Images\Logo3.png" alt="" width="40" height="50">
    </a>

    <div class="d-flex flex-column">  
      <a class="navbar-brand mb-0" href="#">
        <h3 class="mb-0 mx-auto">Khedmetak AI</h3>
      </a>

      <span >
        مساعد ذكي للخدمات الحكومية 
      </span>
    </div>
    
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent  mx-auto d-flex justify-content-center">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">المساعد الذكي</a>
        </li>
        <li class="nav-item dropdown mx-2" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            الخدمات
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">استخراج/ تجديد رخصة القيادة</a></li>
            <li><a class="dropdown-item" href="#">استخراج/ تجديد بطاقة الرقم القومي</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">خدمات أخرى</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">حساب جديد</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">تسجيل الدخول</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>